@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background1: rgb(0, 0, 0);
    --background2: rgb(50, 50, 50);
    --background3: rgb(100, 100, 100);
    --background4: #f5f5f5;
    --text: #ededed;
    --hover: rgb(190, 190, 190);
    --brownHover: rgb(104, 53, 53);
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0 4rem;
    color: var(--text);
    background: linear-gradient(to right, var(--background1),
            var(--background2),
            var(--background3));
    cursor: context-menu;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sub-head {
    font-family: "Roboto Slab", serif;
}

.section {
    padding-block: 5rem 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-bar {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Main-header {
    font-size: 1.8rem;
    letter-spacing: .3rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    background: linear-gradient(to left,
            yellow,
            blue,
            green,
            red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.nav-menubar,
.nav-closebar {
    display: flex;
    font-size: 1.5rem;
    color: var(--text);
    cursor: pointer;
}

.nav-bar-ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.hidden {
    display: none;
}

.remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450svh;
    background-color: transparent;
    z-index: 5;
}

.active-link {
    border-bottom: solid 2px orange;
}

nav-bar-ul,
.li-a {
    color: var(--text);
    font-weight: 600;
    transition: color .3s;
}

nav-bar-ul,
.li-a:hover {
    color: darkgoldenrod;
}

.nav-closebar {
    position: absolute;
    top: 1.3rem;
    right: 1.8rem;
}

.home-grid {
    height: 80svh;
}

.blur-header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(23, 12%, 4%, .2);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    left: 0;
    z-index: -1;
}

.service-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(var(--background2),
            var(--background3));
    border: none 0 #333;
    width: 85%;
    height: 100%;
    border-radius: 15px 0;
    margin: 1rem auto;
    padding: 0 .5rem .5rem;
}

.intro-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service-div>p {
    text-align: center;
}

.service-div:hover {
    background: radial-gradient(var(--background2),
            var(--brownHover));
    transition: all .5s ease-in-out;
}

.icon>img {
    object-fit: cover;
    background-color: rgba(245, 245, 245, .4);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    margin-top: .5rem;
}

.contact-a {
    color: var(--text);
    font-weight: 600;
    transition: color .3s;
}

.contact-a:hover {
    color: rgb(114, 84, 8);
}

.Project-image {
    /* height: 200px; */
    width: 220px;
    display: grid;
    /* filter: blur(8px); */
    scale: .8;
    transition: filter .3s, scale .3s;
}

.Project-image>img {
    width: 220px;
    height: 200px;
}

.about-button {
    background-color: var(--hover);
    color: black;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px 0 20px 0;
    height: 4rem;
    width: 12rem;
}

/* .swiper-slide-active,
.swiper-slide-duplicate-active {
    filter: blur(0);
    scale: 1;
} */

.swiper-wrapper {
    display: flex;
    justify-content: center;
}

.main-intro-txt>span {
    letter-spacing: .2rem;
    background: linear-gradient(to right,
            yellow,
            blue,
            green,
            red);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.abt-text-container {
    visibility: unset;
}

.grid1-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-fa {
    font-size: 1.2rem;
}

input {
    border-radius: 10px 0;
    border: none;
    background: #f0f1f8;
    outline: none;
    color: #333;
    font-weight: 500;
}

input:is(:focus, :valid) {
    box-shadow: 0 4px 6px #8a8787;
}

textarea {
    resize: none;
    outline: none;
    border-radius: 10px 0;
    color: #333;
    font-weight: 500;
}

textarea:is(:focus, :valid) {
    box-shadow: 0 4px 6px #8a8787;
}

a:hover {
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5rem);
}

.submit {
    cursor: pointer;
    background-color: var(--hover);
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
}

.form-title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 5rem;
    background-color: #f0f0f0;
}

.socials {
    display: flex;
    gap: 2rem;
}

.nf-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50svh;
    gap: 1rem;
}

.nf-fa {
    font-size: 6rem;
    color: rgb(224, 224, 80);
}

.nf-title {
    font-size: 3rem;
}

.nf-p {
    font-size: 1.5rem;
}

.nf-btn {
    height: 3rem;
    width: 6rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--hover);
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    font-size: 1.0rem;
    font-weight: 600;
    margin-top: 1rem;
}

.message-bg {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 11111;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 20px 0;
    padding: 0 1rem;
    height: 30svh;
    background: radial-gradient(var(--background2),
            var(--background3));
}

.message-p {
    font-size: 1.2rem;
    text-align: center;
}

.back {
    cursor: pointer;
    background-color: var(--hover);
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    height: 2rem;
    width: 6rem;
    font-size: 1.1;
    font-weight: 600;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 23rem;
  --slide-spacing: 1rem;
  --slide-size: 48%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
}
.embla__slide {
  transition: all 0.2s ease-in-out;
  filter: blur(0);
  scale: 1;
}
.embla__slide:not(.is-snapped) {
    filter: blur(8px);
    scale: 0.92;
}

@media screen and (max-width: 575px) {
    .home-grid {
        display: flex;
        align-items: center;
        background: url(assets/Images/Pic_8.png);
        background-blend-mode: screen;
        background-position: center;
        background-repeat: no-repeat;
        height: 70svh;
    }

    .nav-bar-ul {
        height: 65svh;
    }

    .remove {
        height: 460svh;
    }
}

@media screen and (max-width: 351px) {

    body {
        margin: 0 .7rem;
    }

    .home-grid {
        height: 80svh;
    }

    .container {
        margin-inline: auto;
        max-width: 95%;
    }

    .Main-header {
        font-size: 1.4rem;
    }

    .intro-text {
        width: 100%;
        background-color: hsla(258, 24%, 16%, 0.4);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(5rem);
        border: none solid #333;
        border-radius: 3px;
    }

    .main-sub-txt{
        font-size: 1rem;
    }

    .main-intro-txt {
        font-size: 1.8rem;
        font-weight: 800;
    }

    .sub-head {
        font-size: 1.4rem;
        padding-bottom: .8rem;
    }

    .abt-text-container {
        background-image: url(assets/Images/Profile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 10rem;
        height: 14rem;
        float: left;
        border-radius: 10% 0 10% 2%;
        margin: 0 .5rem .5rem 0;
    }

    .about-p {
        font-size: 1rem;
        padding-bottom: .5rem;
    }

    .about-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .8rem auto 0;
        width: 10rem;
        height: 3.5rem;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .icon>img {
        height: 3.5rem;
    }

    .service-div {
        height: 15rem;
        padding: 0 1rem;
    }

    .service-div-h4 {
        font-size: 1.1rem;
        margin: .5rem 0 .5rem;
    }

    .service-div-p {
        text-align: center;
        font-size: .8rem;
    }

    .Project-container {
        max-width: 350px;
        margin-inline: auto;
    }

    .Project-image>img {
        height: 200px;
    }

    .grid1-contact {
        padding-bottom: .5rem;
    }

    .grid1-contact>i {
        font-size: 1rem;
        padding-right: .5rem;
    }

    .contact-text {
        font-size: .9rem;
    }

    .socials {
        margin-top: .5rem;
        font-size: 1.9rem;
        gap: 3rem;
        display: flex;
        justify-content: center;
    }

    .form-title p {
        padding: 1rem 0 0;
        font-size: 1.2rem;
    }

    input {
        width: 100%;
        height: 2rem;
        margin-top: .8rem;
        padding: .5rem;
        font-size: .8rem;
    }

    textarea {
        margin-top: .8rem;
        width: 100%;
        height: 4rem;
        padding: .5rem;
        font-size: .9rem;
    }

    input:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    textarea:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    .submit {
        height: 2.5rem;
        font-size: 1.05rem;
        margin-top: .5rem;
        width: 50%;
        font-weight: 600;
    }

    .message {
        width: 15rem;
    }

    .message-p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 351px) and (max-width: 575px) {

    body {
        margin: 0 .9rem;
    }

    .Main-header {
        font-size: 2rem;
    }

    .nav-bar-ul {
        height: 65svh;
    }

    .intro-text {
        width: 100%;
        background-color: hsla(258, 24%, 16%, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        border: none solid #333;
        border-radius: 3px;
    }

    .main-sub-txt {
        font-size: 1.2rem;
    }

    .main-intro-txt {
        font-size: 2rem;
        font-weight: 800;
    }

    .sub-head {
        font-size: 1.9rem;
        padding-bottom: 1.3rem;
    }

    .abt-text-container {
        background-image: url(assets/Images/Profile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 11rem;
        height: 13rem;
        float: left;
        border-radius: 10% 0 10% 2%;
        margin: 0 1rem .5rem 0;
    }

    .about-p {
        font-size: 1rem;
        padding-bottom: .5rem;
    }

    .about-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .9rem auto 0;
        height: 3.5rem;
        width: 10rem;
    }

    .icon {
        height: 7rem;
        margin-bottom: 1rem;
    }

    .icon>img {
        height: 7rem;
    }

    .service-div {
        text-align: center;
        height: 20rem;
        width: 70%;
        padding: 0 1rem;
    }

    .service-div-h4 {
        font-size: 1.3rem;
        margin: .5rem 0 .5rem;
    }

    .service-div-p {
        font-size: .9rem;
    }

    .Project-container {
        max-width: 1100px;
        margin-inline: auto;
    }

    .Project-image>img {
        height: 260px;
        width: 100%;
    }

    .grid1-contact {
        padding-bottom: .8rem;
    }

    .grid1-contact>i {
        font-size: 1.5rem;
        padding-right: .8rem;
    }

    .contact-text {
        font-size: 1.1rem;
    }

    .socials {
        margin-top: .9rem;
        font-size: 2.6rem;
        gap: 3.8rem;
        display: flex;
        justify-content: center;
    }

    .form-title p {
        padding: 2rem 0 0;
        font-size: 1.4rem;
    }

    input {
        width: 100%;
        height: 2.5rem;
        margin-top: 1rem;
        padding: .7rem;
        font-size: 1rem;
        font-weight: 200;
    }

    textarea {
        margin-top: 1rem;
        width: 100%;
        height: 5rem;
        padding: .7rem;
        font-size: 1.1rem;
    }

    input:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    textarea:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    .submit {
        margin-top: .5rem;
        width: 40%;
        height: 2.5rem;
        font-size: 1.05rem;
        font-weight: 700;
    }

    .message {
        width: 18rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 756px) {

    body {
        margin: 0 1rem;
    }

    .home-grid {
        display: grid;
        grid-template-columns: .5fr 1.5fr;
        align-items: center;
        width: 100%;
        height: 70svh;
        background-repeat: no-repeat;
    }

    .intro-text {
        width: 180%;
        background-color: hsla(258, 24%, 16%, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: none solid #333;
        border-radius: 3px;
        z-index: 1;
    }

    .main-sub-txt {
        font-size: 1.6rem;
    }

    .main-intro-txt {
        font-size: 2.4rem;
        font-weight: 800;
    }

    .intro-pic {
        background-image: url(assets/Images/Pic_8.png);
        height: 70svh;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10%;
    }

    .sub-head {
        text-align: center;
        font-size: 1.8rem;
        padding-bottom: 1.2rem;
    }

    .abt-text-container {
        background-image: url(assets/Images/Profile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 14rem;
        height: 19rem;
        float: left;
        border-radius: 10% 0 10% 2%;
        margin: 0 1rem .5rem 0;
    }

    .about-p {
        font-size: 1.1rem;
        padding-bottom: .8rem;
    }

    .about-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto 0;
        height: 4rem;
        width: 12rem;
        font-size: 1.4rem;
    }

    .Service-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.3rem 2rem;
    }

    .service-div {
        height: 20rem;
        width: 16rem;
        padding: 0 1rem;
        margin: 0;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .icon>img {
        height: 5.5rem;
    }

    .service-div-h4 {
        font-size: 1.2rem;
        margin: .5rem 0 .5rem;
    }

    .service-div-p {
        font-size: .9rem;
    }

    .Project-container {
        max-width: 650px;
        margin-inline: auto;
    }

    .Project-image>img {
        width: 250px;
        height: 300px;
        border-radius: 5px;
    }

    .grid1-contact {
        display: flex;
        justify-items: center;
        padding-bottom: .7rem;
    }

    .grid1-contact>i {
        font-size: 1.3rem;
        padding-right: .8rem;
    }

    .contact-head {
        text-align: start;
    }

    .contact-text {
        font-size: 1.1rem;
    }

    .socials {
        margin-top: 1rem;
        font-size: 3rem;
        gap: 5rem;
        display: flex;
        justify-content: center;
    }

    .form-title p {
        padding: 1.5rem 0 0;
        font-size: 1.4rem;
    }

    input {
        width: 48%;
        height: 2.5rem;
        margin: 1rem 0 0;
        padding: .8rem;
        font-size: 1rem;
    }
    
    input:nth-child(1) {
        margin-right: .6rem;
    }

    textarea {
        margin-top: 1rem;
        width: 100%;
        height: 6rem;
        padding: .8rem;
        font-size: 1rem;
    }

    input:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    textarea:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    .submit {
        width: 30%;
        font-size: 1rem;
        margin: .5rem 0 0;
        height: 2.5rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .message {
        padding: 0 1.5rem;
        gap: 2.5rem;
    }
    
    .back {
        width: 6rem;
        height: 2.5rem;
        font-size: 1.01rem;
    }
}

@media screen and (min-width: 756px) and (max-width: 980px) {
    body {
        margin: 0 1.5rem;
    }

    .home-grid {
        display: grid;
        grid-template-columns: .8fr 1.2fr;
        align-items: center;
        width: 100%;
        height: 70svh;
        background-repeat: no-repeat;
    }

    .container {
        margin-inline: auto;
        max-width: 90%;
    }

    .Main-header {
        font-size: 2.5rem;
        letter-spacing: .4rem;
    }

    .section {
        padding-block: 4.5rem 2rem;
    }

    .nav-bar {
        height: 4rem;
    }

    .intro-text {
        width: 180%;
        background-color: hsla(258, 24%, 16%, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: none solid #333;
        border-radius: 3px;
        z-index: 1;
    }

    .main-sub-txt {
        font-size: 1.5rem;
    }

    .main-intro-txt {
        font-size: 2.6rem;
        font-weight: 800;
    }

    .intro-pic {
        background-image: url(assets/Images/Pic_8.png);
        height: 70svh;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10%;
    }

    .sub-head {
        font-size: 1.9rem;
        padding-bottom: 1.2rem;
        letter-spacing: .1rem;
        text-align: center;
    }

    .abt-text-container {
        background-image: url(assets/Images/Profile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15rem;
        height: 20rem;
        float: left;
        border-radius: 10% 0 10% 2%;
        margin: 0 1rem .5rem 0;
    }

    .about-p {
        font-size: 1.2rem;
        padding-bottom: .8rem;
    }

    .about-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto 0;
        font-size: 1.4rem;
        height: 4rem;
        width: 12rem;
    }

    .Service-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.3rem 2rem;
    }

    .service-div {
        height: 20rem;
        width: 18rem;
        margin: 0;
        padding: 0 1rem;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .icon>img {
        height: 6rem;
    }

    .service-div-h4 {
        font-size: 1.2rem;
        margin: 1rem 0 .5rem;
    }

    .service-div-p {
        text-align: center;
        font-size: .85rem;
    }

    .Project-container {
        max-width: 750px;
        margin-inline: auto;
    }

    .Project-image>img {
        width: 350px;
        height: 300px;
        border-radius: 5px;
    }

    .Contact-grid {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: start;
    }

    .contact-head {
        text-align: start;
        padding: 0 0 1.2rem;
    }

    .grid1-contact {
        display: flex;
        justify-items: center;
        padding-bottom: .7rem;
    }

    .grid1-contact>i {
        font-size: 1.3rem;
        padding-right: .8rem;
    }

    .contact-text {
        font-size: 1.1rem;
    }

    .socials {
        margin-top: 1rem;
        font-size: 3rem;
        gap: 2rem;
    }

    .form-title p {
        font-size: 1.5rem;
    }

    input {
        width: 48%;
        height: 2.5rem;
        margin-top: 1rem;
        padding: .8rem;
        font-size: 1rem;
    }

    input:nth-child(1) {
        margin-right: 0.5rem;
    }

    textarea {
        margin-top: 1rem;
        width: 100%;
        height: 6rem;
        padding: .8rem;
        font-size: 1rem;
    }

    input:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    textarea:is(:focus, :valid) {
        box-shadow: 0 2px 4px #8a8787;
    }

    .submit {
        width: 30%;
        font-size: 1rem;
        margin: .5rem 0 0;
        height: 2.5rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .message {
        padding: 0 1.5rem;
        gap: 2.5rem;
    }
    
    .back {
        width: 6rem;
        height: 2.5rem;
        font-size: 1.01rem;
    }
}

@media screen and (min-width: 980.1px) and (max-width: 1149.9px) {

    body {
        margin: 0 1.5rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: max-content;
        align-items: center;
        width: 100%;
    }

    .container {
        margin-inline: auto;
        max-width: 90%;
    }

    .Main-header {
        font-size: 2.5rem;
        letter-spacing: .2.5rem;
    }

    .section {
        padding-block: 5rem 2rem;
    }

    .nav-bar {
        height: 4rem;
    }

    .nav-menubar,
    .nav-closebar {
        display: none;
    }

    .nav-bar-ul {
        flex-direction: row;
        column-gap: 2rem;
        font-size: .9rem;
    }

    .main-sub-txt {
        font-size: 1.3rem;
    }

    .main-intro-txt {
        font-size: 2.6rem;
        font-weight: 800;
    }

    .main-intro-txt>span {
        letter-spacing: .3rem;
    }

    .sub-head {
        font-size: 2.1rem;
        letter-spacing: .1rem;
        text-align: center;
        padding: 0 0 2rem;
    }

    .intro-pic {
        background-image: url(assets/Images/Pic_8.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10%;
        margin: 0 0 0 3rem;
    }

    .About-grid {
        align-items: flex-start;
        grid-template-columns: .6fr .95fr;
    }

    .about-image-container {
        background-image: url(assets/Images/Profile.jpg);
        background-repeat: no-repeat;
        width: 90%;
        height: 90%;
        border-radius: 10% 0 10% 2%;
        background-size: cover;
    }

    .about-text-container {
        font-size: 1.3rem;
    }

    .about-sub-head {
        padding: 0 0 1rem;
        text-align: left;
    }

    .about-text-container p {
        margin-bottom: .5rem;
    }

    .about-button {
        margin: 2rem 0 0;
        font-size: 1.4rem;
    }

    .Service-grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }

    .service-div {
        width: 85%;
        height: 20rem;
        padding: 0 1.5rem;
    }

    .icon>img {
        height: 5.5rem;
        width: 5.5rem;
        margin: 0;
        object-fit: cover;
        background-color: rgba(245, 245, 245, .4);
    }

    .service-div-h4 {
        font-size: 1.2rem;
        margin: 1.2rem 0 .8rem;
    }

    .service-div-p {
        text-align: center;
        font-size: .9rem;
    }

    .Project-container {
        max-width: 1100px;
        margin-inline: auto;
    }

    .Project-image>img {
        width: 350px;
        height: 350px;
        border-radius: 5px;
    }

    .Contact-grid {
        grid-template-columns: 1fr 1.5fr;
        align-items: start;
    }

    .contact-head {
        text-align: start;
        padding: 0;
    }

    .grid1-contact>i {
        font-size: 1.5rem;
        padding-right: 1rem;
    }

    .contact-text {
        font-size: 1rem;
    }

    .text-1 {
        padding: 1rem 0 .5rem;
    }

    .form-title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    input {
        width: 49%;
        padding: .2rem .8rem;
        margin-bottom: .8rem;
        height: 2.3rem;
        font-size: .9rem;
    }

    .form-Email {
        float: right;
    }

    textarea {
        width: 100%;
        min-height: 110px;
        padding: 10px;
        font-size: .9rem;
    }

    .submit {
        width: 13%;
        margin: 1rem 0 0;
        height: 2.5rem;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .socials {
        display: flex;
        gap: 3rem;
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

        .message {
        padding: 0 1.5rem;
        gap: 2.5rem;
    }
    
    .back {
        width: 6rem;
        height: 2.5rem;
        font-size: 1.01rem;
    }
}

@media screen and (max-width: 980px) {
    .nav-bar-link {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        background-color: hsla(23, 12%, 4%, .2);
        width: 100%;
        height: 90svh;
        font-size: 1.3rem;
        padding-block: 5.5rem 4.5rem;
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
    }

    .show-menu {
        display: block;
    }
}

@media screen and (min-width: 1150px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: max-content;
        align-items: center;
        width: 100%;
    }

    .container {
        margin-inline: auto;
        max-width: 90%;
    }

    .Main-header {
        font-size: 2.5rem;
        letter-spacing: .3rem;
    }

    .section {
        padding-block: 6rem 2rem;
    }

    .nav-bar {
        height: 4.5rem;
    }

    .nav-menubar,
    .nav-closebar {
        display: none;
    }

    .nav-bar-ul {
        flex-direction: row;
        column-gap: 3rem;
        font-size: 1.1rem;
    }

    .intro-text {
        height: 13rem;
    }

    .main-sub-txt {
        font-size: 1.6rem;
    }

    .main-intro-txt {
        font-size: 3.2rem;
        font-weight: 800;
    }

    .main-intro-txt>span {
        letter-spacing: .3rem;
    }

    .sub-head {
        font-size: 2.3rem;
        letter-spacing: .1rem;
        text-align: center;
        padding: 0 0 2rem;
    }

    .intro-pic {
        background-image: url(assets/Images/Pic_8.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 10%;
        margin: 0 0 0 5rem;
    }

    .About-grid {
        align-items: flex-start;
        grid-template-columns: .5fr 1fr;
    }

    .about-image-container {
        background-image: url(assets/Images/Profile.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 98%;
        border-radius: 10% 0 10% 2%;
        background-size: cover;
    }

    .about-text-container {
        font-size: 1.2rem;
        padding: 0 0 0 2rem;
    }

    .about-sub-head {
        padding: 0 0 1rem;
        text-align: left;
    }

    .about-text-container p {
        margin-bottom: .8rem;
    }

    .about-button {
        margin: 2rem 0 0;
    }

    .Service-grid {
        grid-template-columns: 1fr 1fr 1fr;
        height: 45svh;
        margin: 0 auto;
    }

    .service-div {
        width: 21rem;
        height: 20rem;
        padding: 0 1.5rem;
    }

    .icon>img {
        height: 5.5rem;
        width: 5.5rem;
        object-fit: cover;
        background-color: rgba(245, 245, 245, .4);
    }

    .service-div-h4 {
        font-size: 1.4rem;
        padding: 0;
        margin: 1rem 0;
    }

    .service-div-p {
        text-align: center;
        font-size: .9rem;
    }

    .Project-container {
        max-width: 1100px;
        margin-inline: auto;
    }

    .Project-image>img {
        width: 380px;
        height: 380px;
        border-radius: 5px;
    }

    .Contact-grid {
        grid-template-columns: 1fr 1.5fr;
        align-items: start;
    }

    .contact-head {
        text-align: start;
        padding: 0;
    }

    .grid1-contact>i {
        font-size: 1.5rem;
        padding-right: 1rem;
    }

    .contact-text {
        font-size: 1.1rem;
    }

    .text-1 {
        padding: 1rem 0 .5rem;
    }

    .form-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    input {
        width: 49%;
        padding: .2rem .8rem;
        margin-bottom: .8rem;
        height: 3rem;
        font-size: 1rem;
    }

    .form-Email {
        float: right;
    }

    textarea {
        width: 100%;
        min-height: 110px;
        padding: 10px;
        font-size: 1rem;
    }

    .submit {
        width: 13%;
        margin: 1rem 0 0;
        height: 3rem;
        font-size: 1.1rem;
        font-weight: 550;
    }

    .socials {
        display: flex;
        gap: 4rem;
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

    .message {
        padding: 0 1.5rem;
        gap: 2.5rem;
    }
    
    .back {
        width: 6rem;
        height: 2.5rem;
        font-size: 1.01rem;
    }
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar:hover {
    background-color: hsl(23, 4%, 40%);
}

footer>p {
    visibility: hidden;
}